@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
  
@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
  
@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("./fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

:root {
    --background-color: #202020;
    --color: #F9F9F9;
}

[theme-mode="light"] {
    --color: #202020;
    --background-color: #F9F9F9;
}

* {
    font-family: 'Manrope';
    color: var(--color);
}

h2 {
    font-weight: 800;
    font-size: 4.5rem;
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--background-color);
    margin: 0;
}

p {
    letter-spacing: .75px;
    line-height: 32px;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.headerWrapper {
    width: 95%;
    margin: auto;
}

.lightModeButtonsContainer {
    width: max-content;
    margin-left: auto;
    margin-top: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

.lightModeButton {
    background: none;
    border: 0px solid #1f1f1f00;
    width: 4rem;
    height: 2rem;
}

.lightModeButton:first-of-type {
    margin-right: 1rem;
}

.lightModeButton:last-of-type {
    margin-left: 1rem;
}

.lightModeButton:hover {
    color: var(--background-color);
    background: var(--color);
}

.lightModeButton:disabled {
    border: 1px solid var(--color) !important;
    background: transparent !important;
    color: var(--color) !important;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 25vh;
    width: 90%;
    margin: 0 auto 7rem;
    max-width: 1400px;
}

.landingContainer {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.landingStatementContainer {
    width: max-content;
    margin: auto 0;
    padding-bottom: 5rem;
}

.landingStatementContainer > h1 {
    font-size: 6rem;
    font-weight: 800;
    margin: 0;
}

.landingStatementContainer > h1 br {
    display: none;
}

.landingStatementContainer > div {
    font-size: 1.4rem;
    font-weight: 300;
    width: max-content;
    margin: 0 0 0 auto;
}


.scrollDownContainer {
    position: absolute;
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    bottom: 20px;
}

#scrollDown {
    padding: 0 4px 5px 0;
}

.aboutMeContainer {
    display: flex;
    align-items: center;
    gap: 7rem;
}

#aboutMeImage {
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.projectRowContainer {
    position: relative;
    border-top: 1px solid var(--color);
    border-bottom: 1px solid var(--color);
    padding: 2rem 0;
}

.projectRowContainer:first-of-type {
    border-bottom: none;
}

.projectRowContainer:last-of-type {
    border-top: none;
}

.projectRowContainer > div {
    position: absolute;
    bottom: 5px;
    right: 20px;
}

.contactContainer {
    margin: auto;
}

.contactTopContainer {
    position: relative;
}

.contactArrowAnimationContainer {
    position: absolute;
    bottom: -15px;
    left: 80px;
}

.contactArrowAnimationContainerMobile {
    display: none;
}

#contactArrowHead {
    position: absolute;
    bottom: 0px;
    left: -17px;
}

.svgPath {
    stroke: var(--color);
}

.svgPath.fill {
    stroke: none;
    fill: var(--color);
}

.contactBottomWrapper {
    margin-top: 2rem;
}

.contactInfoText {
    margin: 1rem 0;
}

.contactIconsContainer {
    display: flex;
    gap: 2rem;
}

footer {
    border-top: 1px solid var(--color);
}

.footerContainer {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    padding: 3rem 0;
}


.scrollReveal {
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
}

.display {
    opacity: 1 !important;
}

@media screen and (max-width: 780px) {
    h2 {
        font-size: 2em;
    }
    .pageContainer {
        margin: 0 auto 3rem;
        gap: 20vh;
    }
    .landingStatementContainer > h1 {
        font-size: 3em;
    }
    .landingStatementContainer > h1 br {
        display: unset;
    }
    .aboutMeContainer {
        flex-direction: column;
        gap: 1rem;
    }
    #aboutMeImage {
        width: 90%;
        height: auto;
        margin: auto;
    }
    .projectRowContainer {
        overflow: hidden;
    }
    .projectRowContainer > h2 {
        width: max-content;
    }
    .contactArrowAnimationContainer {
        display: none;
        visibility: none;
    }
    .contactArrowAnimationContainerMobile {
        display: unset;
    }
    .contactArrowSvg.Mobile {
        margin: auto;
        display: block;
    } 
    #contactArrowHead {
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
    }
    .contactInfoText {
        text-align: center;
    }
    .contactIconsContainer {
        justify-content: center;
    }
    .footerContainer {
        flex-direction: column-reverse;
        gap: .5rem;
        padding: 2rem 0;
        align-items: center;
    }
}